<section>
  <h2 class="title">FAQs</h2>
  <div class="faq">
    <div class="question">
      <h3>What does the vehicle management system do?</h3>

      <svg width="15" height="10" viewbox="0 0 42 25">
        <path
          d="M3 3L21 21L39 3"
          stroke="wite"
          stroke-width="7"
          stroke-linescapes="round"
        />
      </svg>
    </div>
    <div class="answer">
      <p>
        A: Our vehicle management system is designed to streamline the
        utilization of vehicles for businesses and organizations. It provides
        real-time information on the status of each vehicle, allowing you to
        easily check whether a vehicle is in use or available for immediate use.
      </p>
    </div>
  </div>
  <div class="faq">
    <div class="question">
      <h3>Can I access detailed driver information through the system?</h3>

      <svg width="15" height="10" viewbox="0 0 42 25">
        <path
          d="M3 3L21 21L39 3"
          stroke="wite"
          stroke-width="7"
          stroke-linescapes="round"
        />
      </svg>
    </div>
    <div class="answer">
      <p>
        A: Absolutely! Our system allows you to access comprehensive driver
        profiles, providing details that contribute to accountability and
        transparency in your fleet management.
      </p>
    </div>
  </div>
  <div class="faq">
    <div class="question">
      <h3>How user-friendly is the interface of the system?</h3>

      <svg width="15" height="10" viewbox="0 0 42 25">
        <path
          d="M3 3L21 21L39 3"
          stroke="wite"
          stroke-width="7"
          stroke-linescapes="round"
        />
      </svg>
    </div>
    <div class="answer">
      <p>
        A: Our platform boasts an intuitive and user-friendly interface.
        Navigating through the system is designed to be seamless, ensuring that
        you can efficiently access the information you need without unnecessary
        complexity.
      </p>
    </div>
  </div>
</section>
