<div class="about-section">
  <div class="inner-container">
    <h1>Welcome!</h1>
    <p class="text">
      Welcome to Ves-kool, where we redefine efficiency in vehicle management.
      Established with a vision to streamline and optimize the utilization of
      vehicles, we pride ourselves on providing a comprehensive solution for
      businesses and organizations.
      <br />
    </p>
    <div class="d-grid gap-2">
      <button
        class="btn btn-lg btn-warning"
        type="button"
        [routerLink]="['/adddriver']"
      >
        Start Now
      </button>
    </div>
  </div>
</div>
