<div class="about-section">
  <div class="inner-container">
    <h1>About Us</h1>
    <p class="text">
      At Ves-kool, our mission is to simplify the complexities of vehicle
      management. With our cutting-edge system, we offer a seamless experience
      that allows you to effortlessly monitor the status of your fleet. Whether
      you need to check the availability of vehicles for immediate use or review
      detailed driver information, our platform has you covered. What sets us
      apart is our commitment to innovation and customer satisfaction.
      <br />
      Our team of dedicated professionals has crafted a user-friendly interface
      that empowers you to make informed decisions regarding your vehicle
      resources. We understand the importance of time and resources, and our
      system is designed to enhance efficiency while reducing operational
      hassles.
    </p>
  </div>
</div>
